                    
                    <div class="table-responsive overflow" id="data-list">
                        
                        <table class="table table-bordered table-hover tile" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <th><p class="borderP">系统设置&nbsp;&nbsp;&nbsp;&nbsp;<p></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <a href="javascript:void(0);"> 用户管理 </a> </td>
                                </tr>
                                <tr>
                                    <td> <a href="javascript:void(0);" onClick="setPriviledge(this);"> 权限管理 </a> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>