<!-- <div style="display: block;text-align: right;padding: 3px;" class="btnDiv">
        <button class="btn btn-xs btn-alt list-active file-btn" id="file-mnt-bt" onClick="showUploadPage(this);"> 文件上传/管理 </button>
</div> -->
                    
    <div class="table-responsive overflow" id="data-list">
       <div id="hotContent">
           <div class="content">
                <!-- <div>
                  <a href="#"><p id="" class="showP showPStyle">友好度分析</p></a>
                </div> -->
                <div class="header">
                   <p>舆论风向分析</p>
                </div>
                <div class="body">
                  <div>
                    <a href="#"><p id="favor" class="showP showPStyle" onclick="channelFavor(this)">友好度分析</p></a>
                  </div>
                  <div>
                    <a href="#"><p id="dataShow" class="showP" onclick="channelFavor(this)">媒体分析</p></a>
                  </div>
                </div>
            </div>
       </div>
    </div>
<script type="text/javascript">
    $(".showP").click(function(){
      $(".showP").each(function(){
        $(this).removeClass("showPStyle");
      });
      $(this).addClass("showPStyle");
    })
</script>