                   <div class="table-responsive overflow" id="data-list">
                        
                        <div id="hotContent">
                
                            <div class="content">
                                <div class="header">
                                   <p>媒体分析</p>
                                </div>
                                <div class="body">
                                  <div>
                                    <a href="#"><p id="chain" class="showP showPStyle" onclick="showModel(this);">传播链分析</p></a>
                                    <a href="#"><p id="trackReport" class="showP"  onclick="showModel(this);">追踪报道</p></a>
                                    <a href="#"><p id="eventFavor" class="showP" onclick="showModel(this)">友好度分析</p></a>
                                  </div>
                                </div>
                            </div>
                           <div class="content">
                               <div class="header">
                                   <p>热度分析</p>
                               </div>
                               <div class="body">
                                    <div>
                                        <a href="#"><p id="resend" class="showP" onclick="applyFilter(this);">热度走势分析</p></a>
                                    </div>  
                                    <div>
                                        <a href="#"><p id="hot" class="showP" onclick="showTable(this);">热门分析</p></a>
                                    </div>  
                                    <!-- <div>
                                        <p id="resend" class="showP" onclick="showTable(this);">原创和转发分析</p>
                                    </div>  --> 
                               </div>
                           </div>
                           <div class="content">
                               <div class="header">
                                   <p>关注人群分析</p>
                               </div>
                               <div class="body">
                                    
                                    <div>
                                        <p class="headerP">地理位置分析</p>
                                        <div class="sBody">
                                          <div>
                                            <a href="#"><p id="country" class="showP" onclick="applyFilter(this);">全国</p></a>
                                          </div>
                                          <div>
                                            <a href="#"><p id="guangdong" class="showP" onclick="applyFilter(this);">省内（广东省）</p></a>
                                          </div>
                                        </div>
                                        <!-- <select class="form-control input-sm m-b-10 select-option" id="area">
                                            <option value="0"> 全国 </option>
                                            <option value="1">广东省 </option>
                                            
                                        </select> -->
                                    </div>
                               </div>
                           </div>
                           <div class="content">
                               <div class="header">
                                   <p>下载报告</p>
                               </div>
                               <div class="body">
                                    <div>
                                        <a href="#"><p id="report" class="showP" onclick="showTable(this);">报告内容</p></a>
                                    </div>  
                               </div>
                           </div>
                       </div>
                    </div>
                    
                    
<script>
    /*$("#chain").click();*/
    /*alert("ff");*/
    
    $(".showP").click(function(){
      $(".showP").each(function(){
        $(this).removeClass("showPStyle");
      });
      $(this).addClass("showPStyle");
    })
</script>
