<!-- <div style="display: block;text-align: right;padding: 3px;" class="btnDiv">
        <button class="btn btn-xs btn-alt list-active file-btn" id="file-mnt-bt" onClick="showUploadPage(this);"> 文件上传/管理 </button>
</div> -->
                    
    <div class="table-responsive overflow" id="data-list">
       <div id="hotContent">
           <div class="content">
                <!-- <div>
                  <a href="#"><p id="" class="showP showPStyle">友好度分析</p></a>
                </div> -->
                <div class="header">
                   <p>舆论预警</p>
                </div>
                <div class="body">
                  <div>

                    <a href="#"><p id="signal" class="showP showPStyle" onclick="warningPage(this);">信号列表</p></a>
                    <p class="headerP">预警推送设置</p>
                    <div class="sBody">
                      <div>
                        <a href="#"><p id="keyWarning" class="showP" onclick="warningPage(this);" style="padding-top: 2px;padding-bottom: 2px;">关键字预警</p></a>
                      </div>
                      <div>
                        <a href="#"><p id="lineWarning" class="showP" onclick="warningPage(this);" style="padding-top: 2px;padding-bottom: 2px;">警戒线预警</p></a>
                      </div>
                    </div>
                    <a href="#"><p id="thresholdSet" class="showP" onclick="warningPage(this);">预警阈值设置</p></a>
                    <!-- <p class="headerP">预警开关</p>
                    <div class="sBody">
                      <div>
                        <a href="#"><p id="keyWarningSwitch" class="showP" onclick="warningPage(this);" style="padding-top: 2px;padding-bottom: 2px;">关键字预警开关</p></a>
                      </div>
                      <div>
                        <a href="#"><p id="lineWarningSwitch" class="showP" onclick="warningPage(this);" style="padding-top: 2px;padding-bottom: 2px;">警戒线预警开关</p></a>
                      </div>
                    </div> -->
                    <!-- <a href="#"><p id="defineSignal" class="showP" onclick="warningPage(this);">定义信号阈值</p></a> -->
                  </div>
                </div>
            </div>
       </div>
    </div>
<script type="text/javascript">
    $(".showP").click(function(){
      $(".showP").each(function(){
        $(this).removeClass("showPStyle");
      });
      $(this).addClass("showPStyle");
    })
</script>