<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <title>管控平台-机构管理</title>

            <meta name="description" content="Minimal empty page" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <!-- basic styles -->
            <link href="{$webroot}assets/css/bootstrap.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="{$webroot}assets/css/font-awesome.min.css" />

            <!--[if IE 7]>
            <link rel="stylesheet" href="{$webroot}assets/css/font-awesome-ie7.min.css" />
            <![endif]-->

            <!-- page specific plugin styles -->
            <link rel="stylesheet" href="{$webroot}assets/css/jquery-ui-1.10.3.full.min.css" />
            <!--link rel="stylesheet" href="{$webroot}assets/css/jquery-ui-1.10.3.custom.min.css" /-->
            <link rel="stylesheet" href="{$webroot}assets/css/jquery.gritter.css" />
            <link rel="stylesheet" href="{$webroot}assets/css/chosen.css" />

            <!-- fonts -->

            <link rel="stylesheet" href="{$webroot}assets/css/ace-fonts.css" />

            <!-- ace styles -->

            <link rel="stylesheet" href="{$webroot}assets/css/ace.min.css" />
            <link rel="stylesheet" href="{$webroot}assets/css/ace-rtl.min.css" />
            <link rel="stylesheet" href="{$webroot}assets/css/ace-skins.min.css" />

            <!--[if lte IE 8]>
            <link rel="stylesheet" href="{$webroot}assets/css/ace-ie.min.css" />
            <![endif]-->

            <!-- inline styles related to this page -->
            <style>
              .extend-max-width{
                max-width: 1000px !important;
              }
              .noborder{
                border: 0px !important;
              }
              .chosen-single {
                overflow: visible !important;
              }
            </style>
            <!-- ace settings handler -->

            <!--script src="{$webroot}assets/js/ace-extra.min.js"></script-->
            <script src="{$webroot}assets/js/uncompressed/ace-extra.js"></script>

            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

            <!--[if lt IE 9]>
            <script src="{$webroot}assets/js/html5shiv.js"></script>
            <script src="{$webroot}assets/js/respond.min.js"></script>
            <![endif]-->
        </head>

        <body>
            <include file="./Tpl/header.html" />

                <div class="main-container" id="main-container">
                    <script type="text/javascript">
                        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
                    </script>

                    <div class="main-container-inner">
                        <include file="./Tpl/sidebar.html" />

                            <div class="main-content">

                                <div class="breadcrumbs" id="breadcrumbs">
                                    <script type="text/javascript">
                                        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                                    </script>

                                    <ul class="breadcrumb">
                                        <li>
                                            <i class="icon-home home-icon"></i>
                                            <a href="#">首页</a>
                                        </li>
                                        <li class="active">机构管理</li>
                                        </ul><!-- .breadcrumb -->

                                        <div class="nav-search" id="nav-search">
                                            <form class="form-search">
                                                <span class="input-icon">
                                                    <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                                    <i class="icon-search nav-search-icon"></i>
                                                </span>
                                            </form>
                                        </div><!-- #nav-search -->
                                    </div>

                                    <div class="page-content">
                                        <div class="page-header  hidden-480">
                                            <h1>
                                                机构
                                                <small>
                                                    <i class="icon-double-angle-right"></i>
                                                    机构管理
                                                </small>
                                            </h1>
                                        </div><!-- /.page-header -->

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <!-- PAGE CONTENT BEGINS -->
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button class="btn btn-sm btn-info" type="button"
                                                                onClick="$('#activeBrokerList').nestable('expandAll');">
                                                                <i class="icon-plus bigger-110"></i>
                                                                展开全部
                                                            </button>

                                                            <button class="btn btn-sm btn-info" type="button"
                                                                onClick="$('#activeBrokerList').nestable('collapseAll');">
                                                                <i class="icon-minus bigger-110"></i>
                                                                全部
                                                            </button>

                                                            <button class="btn btn-sm disabled  btn-warning pull-right" type="button"
                                                                id="saveTreeChangeBtn"
                                                                onClick="saveBrokerStruct();">
                                                                <i class="icon-save bigger-110"></i> 保存机构组织结构
                                                            </button>
                                                        </div>
                                                    </div>

                                                    <div class="dd extend-max-width" id="activeBrokerList">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button class="btn btn-sm disabled btn-info" type="button"
                                                                id="confirmEditBtn"
                                                                 onClick="saveBrokerInfo();">
                                                                <i class="icon-edit bigger-110"></i>
                                                                确认修改
                                                            </button>
                                                            <button class="btn btn-sm btn-info" type="button"
                                                                 onClick="addNewBroker();">
                                                                <i class="icon-plus bigger-110"></i>
                                                                增加机构
                                                            </button>
                                                            <button class="btn btn-sm btn-info" type="button"
                                                                 onClick="clearForm();resetDeleteParams();">
                                                                <i class="icon-circle-blank bigger-110"></i>
                                                                清空表单
                                                            </button>
                                                            
                                                            <!--button class="btn btn-sm btn-warning pull-right" type="button" id="confirmDeleteBtn"
                                                                 onClick="deleteBroker();">
                                                                <i class="icon-trash bigger-110"></i>
                                                                删除 <span id="deleteNameSpan"></span>
                                                            </button -->
                                                        </div>
                                                    </div>

                                                    <div class="dd extend-max-width" id="inActiveBrokerList">
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="widget-box">
                                                                <div class="widget-header">
                                                                  <b> 设置表单 </b>
                                                                </div>
                                                                <div class="widget-body">
                                                                  <div class="widget-main">
                                                                    <form>
                                                                        <fieldset>
                                                                            <label class="block clearfix">
                                                                                <span class="block input-icon input-icon-right">
                                                                                    <input id="broker_name" type="email" class="form-control" placeholder="机构名" />
                                                                                    <i class="icon-building"></i>
                                                                                </span>
                                                                            </label>
                                                                    
                                                                            <label class="block clearfix">
                                                                                <span class="block input-icon input-icon-right">
                                                                                    <input id="broker_address" type="text" class="form-control" placeholder="地址" />
                                                                                    <i class="icon-home"></i>
                                                                                </span>
                                                                            </label>
                                                                    
                                                                            <label class="block clearfix">
                                                                                <span class="block input-icon input-icon-right">
                                                                                    <input id="broker_hotline" type="text" class="form-control" placeholder="服务热线" />
                                                                                    <i class="icon-phone"></i>
                                                                                </span>
                                                                            </label>
                                                                            
                                                                            <div class="checkbox">
                                                                              <label>
                                                                                <input id="isTopInput" name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" />
                                                                                <span class="lbl"> 顶级服务商</span>
                                                                              </label>
                                                                            </div>
                                                                            
                                                                            <hr />
                                                                            <label class="block clearfix">
                                                                              <span class="block input-icon input-icon-right">
                                                                                <select multiple="true" class="chosen-select"
                                                                                   id="form-field-select-4" data-placeholder="请选择机构成员...">
                                                                                </select>
                                                                              </span>
                                                                            </label>
                                                                        </fieldset>
                                                                    </form>
                                                                  </div>
                                                                </div>
                                                            </div>
                                                        
                                                            <hr />
                                                            <div class="alert alert-info">
                                                                <button type="button" class="close" data-dismiss="alert">
                                                                <i class="icon-remove"></i>
                                                                </button>
                                                                Chrome 浏览器支持本系统所有功能，请到 <a href="http://w.x.baidu.com/alading/anquan_soft_down_b/14744">这里</a> 下载安装。
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><!-- PAGE CONTENT ENDS -->

                                           <div id="modal-edit-broker-box" class="modal fade" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header no-padding">
                                                            <div class="table-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                    <span class="white">&times;</span>
                                                                </button>
                                                                <span id="span-broker-name"></span>: 盒子管理
                                                            </div>
                                                        </div>
                                              
                                                        <div class="modal-body no-padding">
                                                          <div class="tabbable">
                                                            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
                                                              <li class="active"><a data-toggle="tab" href="#new" id="add-box"> 增加盒子 </a></li>
                                                              <li><a data-toggle="tab" href="#change" id="change-box"> 分配盒子 </a></li>
                                                              <li><a data-toggle="tab" href="#return" id="return-box"> 向上归还 </a></li>
                                                            </ul>
                                                              
                                                            <div class="tab-content">
                                                              <div id="new" class="tab-pane in active">
                                                                <div class="row">
                                                                  <div class="form-group col-sm-5">
                                                                    <label class="col-xs-4 control-label no-padding-right" for="form-add-start"> 起始号 </label>
                                                                    <div class="col-xs-8">
                                                                      <input type="text" id="form-add-start" placeholder="起始号" class="col-xs-12" />
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group col-sm-5">
                                                                    <label class="col-xs-4 control-label no-padding-right" for="form-add-end"> 结束号 </label>
                                                                    <div class="col-xs-8">
                                                                      <input type="text" id="form-add-end" placeholder="结束号" class="col-xs-12" />
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group col-sm-2">
                                                                    <button class="btn btn-sm btn-primary pull-right" onClick="submitAddBoxes();">
                                                                     <i class="icon-plus"></i> 提交 </button>
                                                                  </div>
                                                                  
                                                                </div>
                                                              </div>
                                                         
                                                              <div id="change" class="tab-pane">
                                                                 <div class="row">
                                                                  <div class="form-group col-sm-6">
                                                                    <label class="col-xs-4 control-label" for="form-distribute-start"> 号码段 </label>
                                                                    <div class="col-xs-8">
                                                                      <!--input type="text" id="form-distribute-start" placeholder="号码段" class="col-xs-12" /-->
                                                                      <select class="chosen-select"
                                                                               id="form-distribute-start" data-placeholder="请选择号码段...">
                                                                      </select>
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group col-sm-4">
                                                                    <label class="col-xs-4 control-label no-padding-right" for="form-distribute-count"> 数量 </label>
                                                                    <div class="col-xs-8">
                                                                      <input type="text" id="form-distribute-count" placeholder="数量" class="col-xs-12" />
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group col-sm-2">
                                                                    <button class="btn btn-sm btn-primary pull-right" onClick="submitDistributeBox();">
                                                                     <i class="icon-plus"></i> 提交 </button>
                                                                  </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="col-sm-4"></div>
                                                                        <div class="col-sm-8">
                                                                          <label>
                                                                            <input id="form-distribute-all" name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" />
                                                                            <span class="lbl"> 全号段</span>
                                                                         </label>
                                                                        </div>
                                                                      <!--label>
                                                                        <input id="isTopInput" name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" />
                                                                        <span class="lbl"> 向上归还</span>
                                                                      </label-->
                                                                    </div>
                                                                </div>
                                                              </div>
                                                              
                                                              <div id="return" class="tab-pane">
                                                                 <div class="row">
                                                                  <div class="form-group col-sm-6">
                                                                    <label class="col-xs-4 control-label" for="form-return-start"> 号码段 </label>
                                                                    <div class="col-xs-8">
                                                                      <select class="chosen-select"
                                                                               id="form-return-start" data-placeholder="请选择号码段...">
                                                                      </select>
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group col-sm-4">
                                                                    <label class="col-xs-4 control-label no-padding-right" for="form-return-count"> 数量 </label>
                                                                    <div class="col-xs-8">
                                                                      <input type="text" id="form-return-count" placeholder="数量" class="col-xs-12" />
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group col-sm-2">
                                                                    <button class="btn btn-sm btn-primary pull-right" onClick="submitReturnBox();">
                                                                     <i class="icon-plus"></i> 提交 </button>
                                                                  </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="col-sm-4"></div>
                                                                        <div class="col-sm-8">
                                                                          <label>
                                                                            <input id="form-return-all" name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" />
                                                                            <span class="lbl"> 全号段</span>
                                                                         </label>
                                                                        </div>
                                                                      <!--label>
                                                                        <input id="isTopInput" name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" />
                                                                        <span class="lbl"> 向上归还</span>
                                                                      </label-->
                                                                    </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                              
                                                        <div class="modal-footer no-margin-top">
                                                            <button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
                                                                <i class="icon-remove"></i>
                                                                关闭
                                                            </button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div>
                                            
                                            <div id="dialog-confirm" class="hide">
                                                <div class="alert alert-info bigger-110">
                                                    <span id="deleteNameSpanInDialog"></span>
                                                </div>
                                                
                                                <div class="space-6"></div>
                                                
                                                <p class="bigger-110 bolder center grey">
                                                    <i class="icon-hand-right blue bigger-120"></i>
                                                    确认删除吗?
                                                </p>
                                            </div><!-- #dialog-confirm -->
                                            
                                        </div><!-- /.page-content -->
                                        
                                        <!-- hr />
                                        <div class="well">
                                            <h4 class="green smaller lighter">Debug</h4>
                                            <p id="debug_text"></p>
                                        </div -->
                                    </div><!-- /.main-content -->

                                </div><!-- /.main-container-inner -->
                            </div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='{$webroot}assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
window.jQuery || document.write("<script src='{$webroot}assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='{$webroot}assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="{$webroot}assets/js/bootstrap.min.js"></script>
<script src="{$webroot}assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->
<script src="{$webroot}assets/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="{$webroot}assets/js/jquery.gritter.min.js"></script>
<script src="{$webroot}assets/js/jquery.nestable.min.js"></script>
<script src="{$webroot}assets/js/chosen.jquery.min.js"></script>

<!-- ace scripts -->

<script src="{$webroot}assets/js/ace-elements.min.js"></script>
<script src="{$webroot}assets/js/ace.min.js"></script>

<!-- inline scripts related to this page -->
<script>
    var brokerList = [];
    var inActiveBrokerList = [];
    var currentOperatingGroupId = -1;

    jQuery(document).ready(function(){
        var body = $(document.body);
        /*
        body.removeClass('skin-1 skin-2 skin-3');
        skin_class = 'skin-1';
        if(skin_class != 'default') body.addClass(skin_class);
        if(skin_class == 'skin-1') {
            $('.ace-nav > li.grey').addClass('dark');
        }
        
        ace.settings.sidebar_fixed(true);
        ace.settings.breadcrumbs_fixed(true); */
        reloadBrokerList();

        $("#form-field-select-4").chosen({no_results_text:"没有待加成员",width:"100%"});
        $("#form-distribute-start").chosen({no_results_text:"没有号码段",width:"100%"});
        $("#form-return-start").chosen({no_results_text:"没有号码段",width:"100%"});
        
        updateHeader();
    });

    function deleteActiveBroker(obj,types){
        $( "#dialog-confirm" ).removeClass('hide').dialog({
            resizable: false,
            modal: true,
            title: "",
            title_html: true,
            buttons: [
                {
                    html: "<i class='icon-trash bigger-110'></i>&nbsp; 删除",
                    "class" : "btn btn-danger btn-xs",
                    click: function() {
                        deleteBroker();
                        $( this ).dialog( "close" );
                    }
                }
                ,
                {
                    html: "<i class='icon-remove bigger-110'></i>&nbsp; 取消",
                    "class" : "btn btn-xs",
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                }
            ]
        });
        
        $(".ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 确认删除?</h4></div>");
        
        currentToDeleteBrokerId = obj.id;
        var id = obj.id.substr(7);
        var found = false;
        if(types == 1){
          for(var i=0;i<brokerList.length && !found;i++){
              if(brokerList[i]["id"] == id){
                  $("#deleteNameSpanInDialog").text(brokerList[i]["name"]);
                  found = true;
              }
          }
        }else{
            for(var i=0;i<inActiveBrokerList.length && !found;i++){
              if(inActiveBrokerList[i]["id"] == id){
                  $("#deleteNameSpanInDialog").text(inActiveBrokerList[i]["name"]);
                  found = true;
              }
            }
        }
    }
    
    function deleteBroker(){
        var deleteId = currentToDeleteBrokerId.substr(7);
        var url = '/broker/api_delete_broker/'+deleteId;

        $.ajax({url:url,async:true,cache:false,dataType:"text", success:function(data){
            var jsonObj = eval("("+data+")");
            if(jsonObj.state == 200){
                $('<form class="hide" />')
                   .appendTo('body').attr({'method': 'POST', 'action': '/broker/group'}).submit();
            }else showUiResult(jsonObj.title,jsonObj.comment);
        } });
    }
    
    function resetDeleteParams(){
        if($("#"+currentToDeleteBrokerId)[0] != null){
          $("#"+currentToDeleteBrokerId).removeClass("white");
          $("#"+currentToDeleteBrokerId).addClass("blue");
        }
        
        currentToDeleteBrokerId = "delete_0";
        $("#deleteNameSpan").text("");
        $("#confirmDeleteBtn").addClass("disabled");
    }

    function reloadBrokerList(){
        var url = '/broker/api_getbrokergroup_list';

        $.ajax({url:url,async:true,cache:false,dataType:"text", success:function(data){
            var jsonObj = eval("("+data+")");
            brokerList = jsonObj.brokerGroupList;
            inActiveBrokerList = jsonObj.inactiveBroker;
            showBrokerList(jsonObj.topId);
            $("#debug_text").text(data);
        } });
    }
    
    function showBrokerList(topId){
        //var jsonArray = buildJsonArrayFromOrgData(0);
        var jsonArray = getTree(topId);
        //alert(window.JSON.stringify(jsonArray));
        var htmlStr = nestableListAddChild(jsonArray);
        
        for(var key in brokerList){
            if(brokerList[key].id == topId){
                var preHtml = "";
                preHtml += '<li class="dd-item dd2-item dd-colored" data-id="'+brokerList[key].id+'">';
                preHtml += '<div class="dd2-content btn-success no-hover">'+brokerList[key].name;
                preHtml += '  &nbsp;<span class="badge badge-purple"><i class="icon-tags"></i> ';
                preHtml += brokerList[key].inActiveBoxCount+'</span>';
                preHtml += '</div>';
                preHtml += '</li>';
                
                htmlStr = preHtml + htmlStr;
            }
        }
        
        //$("#debug_text").text(htmlStr);
        
        var inactiveHtmlStr = buildInactiveList();
        
        $("#activeBrokerList").html(htmlStr);
        $("#activeBrokerList").nestable({group:1}).on('change', brokerListChange);
        $("#inActiveBrokerList").html(inactiveHtmlStr);
        $("#inActiveBrokerList").nestable({group:1});
        
        
        activeBrokerListJsonStr = window.JSON.stringify($("#activeBrokerList").nestable('serialize'));
        $('.dd-handle a').on('mousedown', function(e){
            e.stopPropagation();
        });

        $("#saveTreeChangeBtn").addClass("disabled");
    }
    
    function buildInactiveList(){
        var htmlStr = '<ol class="dd-list">';
        htmlStr += '<li class="dd-item dd2-item dd-colored" data-id="0" style="height: 45px;">';
       // htmlStr += '<div class="dd-handle dd2-handle btn-info"></div>';
        htmlStr += '<div class="dd2-content btn-default no-hover">未分类机构列表</div></li>';
        for(var key in inActiveBrokerList){
            htmlStr += '<li class="dd-item dd2-item dd-colored" data-id="'+inActiveBrokerList[key].id+'">';
            htmlStr += '  <div class="dd-handle dd2-handle btn-info">';
            htmlStr += '    <i class="normal-icon icon-edit bigger-130"></i>';
            htmlStr += '    <i class="drag-icon icon-move bigger-125"></i>';
            htmlStr += '  </div>';
            htmlStr += '  <div class="dd2-content btn-default no-hover">'+inActiveBrokerList[key].name;
            htmlStr += '  <div class="pull-right action-buttons">';
            //htmlStr += '    <a class="blue" href="#" onclick="javascript:editActiveBroker(this);" id="edit_'+inActiveBrokerList[key].id+'"><i class="icon-pencil"></i></a>';
            htmlStr += '    <a class="blue" href="#" onclick="javascript:deleteActiveBroker(this,0);" id="delete_'+inActiveBrokerList[key].id+'"><i class="icon-times"></i></a>';
            htmlStr += '  </div>';
            htmlStr += '';
            htmlStr += '</div>';
            htmlStr += '</li>';
        }
        htmlStr += '</ol>';
        return htmlStr;
    }

    var activeBrokerListJsonStr = "";
    var currentOperatedBrokerId = "edit_0";
    var currentToDeleteBrokerId = "delete_0";

    var brokerListChange = function(e){
        if(activeBrokerListJsonStr != window.JSON.stringify($("#activeBrokerList").nestable('serialize'))){
            $("#saveTreeChangeBtn").removeClass("disabled");
        }else{
            $("#saveTreeChangeBtn").addClass("disabled");
        }
    };

    function getTree(tId){  // 高效方法取得树结构
        var childrenNodes = new Array();
        var keyArray = new Array();
        var tree = new Array();

        for(var i=0;i<brokerList.length;i++){
            var p = brokerList[i].parent_id;
            if(!childrenNodes.hasOwnProperty(p)) {
                keyArray.push(keyArray);
                childrenNodes[p] = new Array();
            }
            childrenNodes[p].push(brokerList[i]);
        }

        for(var i=0;i<brokerList.length;i++){
            var childGroup = brokerList[i].id;
            brokerList[i].children = childrenNodes[childGroup];
            if(brokerList[i].parent_id == tId) tree.push(brokerList[i]);
        }
        return tree;
    }

    function buildJsonArrayFromOrgData(bId){  // 递归方法，已禁用
        var arr = new Array();
        for(var i=0;i<brokerList.length;i++){
            if(brokerList[i].parent_id == bId){
                var item = new Object();
                item.id = brokerList[i].id;
                item.name = brokerList[i].name;
                item.children = buildJsonArrayFromOrgData(brokerList[i].id);
                arr.push(item);
            }
        }
        if(arr.length < 1) return null;
        else return arr;
    }
    
    var boxTargetBrokerId = "";
    function editBrokerBox(obj){
        var nId = parseInt(obj["id"].substr(4));
        boxTargetBrokerId = nId;
        
        var url = '/broker/api_get_empty_box/'+boxTargetBrokerId;
        $.ajax({url:url,async:true,cache:false,dataType:"text", success:function(data){
            var jsonObj = eval("("+data+")");
            if(jsonObj.state == 200){
                buildBoxForms(jsonObj);
            }else showUiResult(jsonObj.title,jsonObj.comment);
        } });
        
        var found = false;
        for(var i=0;i<brokerList.length && !found;i++){
          if(brokerList[i]["id"] == nId){
            $("#span-broker-name").text(brokerList[i]["name"]);
            found = true;
          }
        }
        
        $("#form-return-start").html(""); 
        $("#form-return-start").chosen("destroy");
        $("#form-return-start").html(""); 
        $("#form-return-start").chosen({no_results_text:"没有号码段",width:"100%"});
        
        $("#form-distribute-start").html(""); 
        $("#form-distribute-start").chosen("destroy");
        $("#form-distribute-start").html(""); 
        $("#form-distribute-start").chosen({no_results_text:"没有号码段",width:"100%"});
            
                
        $("#add-box").tab('show');
        $("#modal-edit-broker-box").modal("show");
    }

    var currentHasUser = [];
    function editActiveBroker(obj){
        if(currentOperatedBrokerId == obj["id"]){
            clearForm();
        }else{
            if($("#"+currentOperatedBrokerId)[0] != null){
                $("#"+currentOperatedBrokerId).removeClass("white");
                $("#"+currentOperatedBrokerId).addClass("blue");
            }
            currentOperatedBrokerId = obj["id"];
            $("#"+currentOperatedBrokerId).removeClass("blue");
            $("#"+currentOperatedBrokerId).addClass("white");
            
            var nId = parseInt(currentOperatedBrokerId.substr(5));
            var found = false;
            for(var i=0;i<brokerList.length && !found;i++){
                if(brokerList[i]["id"] == nId){
                    $("#broker_name").val(brokerList[i]["name"]);
                    $("#broker_address").val(brokerList[i]["address"]);
                    $("#broker_hotline").val(brokerList[i]["hotline"]);
                    if(brokerList[i]["top"] == 1) {
                      $("#isTopInput")[0].checked = true;
                    }else{ 
                      $("#isTopInput")[0].checked = false;
                    }
                    found = true;
                }
            }
            $("#confirmEditBtn").removeClass("disabled");
            clearUserSelectForm();
            
            var url = '/broker/api_getbroker_users/'+nId;

            $.ajax({url:url,async:true,cache:false,dataType:"text", success:function(data){
              var jsonObj = eval("("+data+")");
              if(jsonObj.state == 200){
                $("#debug_text").text(data);
                buildUserSelectForm(jsonObj);
              }else showUiResult(jsonObj.title,jsonObj.comment);
            } });
        }
    }
    
    var userSelectFormCleared = false;
    
    function clearUserSelectForm(){
      if(userSelectFormCleared) return;
      $("#form-field-select-4").html(""); 
      $("#form-field-select-4").chosen("destroy");
      currentHasUser = [];
      userSelectFormCleared = true;
    }
    
    function buildUserSelectForm(jsonObj){
      var htmlStr = "";
      var availableUser = jsonObj.availableUser;
      var selectedUser = jsonObj.selectedUser;
      currentHasUser = selectedUser;
      for(var k=0;availableUser!=null && k<availableUser.length;k++){
        var isSelected = "";
        var sel = false;
        for(var i=0;selectedUser!=null && i<selectedUser.length && !sel;i++){
          if(availableUser[k]["id"] == selectedUser[i]["id"]){
            isSelected=' selected="selected"';
            sel = true;
          }
        }
        htmlStr += '<option value="'+availableUser[k]["id"]+'"'+isSelected+'>';
        if(availableUser[k]["nickname"] == null || availableUser[k]["nickname"] == "")
        htmlStr += '无昵称</option>';
        else htmlStr += availableUser[k]["nickname"]+'</option>';
      }
      $("#form-field-select-4").html(htmlStr);
      $("#form-field-select-4").chosen({no_results_text:"没有待加成员",width:"100%"});
      userSelectFormCleared = false;
    }

    function nestableListAddChild(jsonArray){
        var htmlStr = '<ol class="dd-list">';
        for(var i=0;i<jsonArray.length;i++){
            htmlStr += '<li class="dd-item dd2-item dd-colored" data-id="'+jsonArray[i].id+'">';
            htmlStr += '  <div class="dd-handle dd2-handle btn-info">';
            htmlStr += '    <i class="normal-icon icon-edit bigger-130"></i>';
            htmlStr += '    <i class="drag-icon icon-move bigger-125"></i>';
            htmlStr += '  </div>';
            htmlStr += '  <div class="dd2-content btn-info no-hover">'+jsonArray[i].name;
            // htmlStr += '  &nbsp;<span class="badge badge-success"><i class="icon-tags"></i> '+jsonArray[i].activeBoxCount+'</span>';
            // htmlStr += '  &nbsp;<span class="badge badge-purple"><i class="icon-tags"></i> '+jsonArray[i].inActiveBoxCount+'</span>';
            htmlStr += '  <div class="pull-right action-buttons">';
            // htmlStr += '    <a class="blue" href="#" onclick="javascript:editBrokerBox(this);" id="bro_'+jsonArray[i].id+'"><i class="icon-tags"></i></a>';
            htmlStr += '    <a class="blue" href="#" onclick="javascript:editActiveBroker(this);" id="edit_'+jsonArray[i].id+'"><i class="icon-pencil"></i></a>';
            htmlStr += '    <a class="blue" href="#" onclick="javascript:deleteActiveBroker(this,1);" id="delete_'+jsonArray[i].id+'"><i class="icon-times"></i></a>';
            htmlStr += '  </div>';
            htmlStr += '';
            htmlStr += '</div>';
            
            if(jsonArray[i].children != null) {
                htmlStr += nestableListAddChild(jsonArray[i].children);
            }
            htmlStr += '</li>';
        }
        htmlStr += '</ol>';
        return htmlStr;
    }

    function showUiResult(title, content){
        $.gritter.add({
            title: title,
            text: content,
        class_name: 'gritter-success gritter-light' });
    }
    
    function clearForm(){
        if($("#"+currentOperatedBrokerId)[0] != null){
            $("#"+currentOperatedBrokerId).removeClass("white");
            $("#"+currentOperatedBrokerId).addClass("blue");
        }
        currentOperatedBrokerId = "edit_0";
        $("#broker_name").val("");
        $("#broker_address").val("");
        $("#broker_hotline").val("");
        $("#confirmEditBtn").addClass("disabled");
        $("#isTopInput")[0].checked = false;
        clearUserSelectForm();
    }

    function saveBrokerStruct(){
        var postData = new Object();
        postData.structJsonStr = window.JSON.stringify($("#activeBrokerList").nestable('serialize'));
        
        $("#debug_text").text(postData.structJsonStr);
        //return;

        $.post("/broker/api_change_broker_struct", postData,
        function(data){
            //$("#debug_text").text(data);
            var jsonObj = eval("("+data+")");
            /*
            if(jsonObj.state == 200){
                showUiResult("保存成功","已经保存当前机构结构");
                $("#saveTreeChangeBtn").addClass("disabled");
            }
            */
            if(jsonObj.state == 200){
              $('<form class="hide" />')
                 .appendTo('body').attr({'method': 'POST', 'action': '/broker/group'}).submit();
            }else showUiResult(jsonObj.title,jsonObj.comment);
            
            /*
            brokerList = jsonObj.brokerGroupList;
            showBrokerList();
            */
        },"text");
    }
    
    function saveBrokerInfo(){
        if($("#broker_name").val() == "") {
            showUiResult("请填写完整表单","机构名字不能为空");
            return;
        }
        
        var userValueArr = $("#form-field-select-4").val();
        var deleteList = [];
        var addList = [];
        
        for(var i=0;userValueArr!=null && i<userValueArr.length;i++){
            var found = false;
            for(var k=0;currentHasUser!=null && k<currentHasUser.length && !found;k++){
                if(userValueArr[i] == currentHasUser[k]["id"]){
                    found = true;
                }
            }
            if(!found) addList.push(userValueArr[i]);
        }
        
        for(var i=0;currentHasUser!=null && i<currentHasUser.length;i++){
            var found = false;
            for(var k=0;userValueArr!=null && k<userValueArr.length && !found;k++){
                if(userValueArr[k] == currentHasUser[i]["id"]){
                    found = true;
                }
            }
            if(!found) deleteList.push(currentHasUser[i]["id"]);
        }
        
        var postData = new Object();
        postData.id = parseInt(currentOperatedBrokerId.substr(5));
        postData.name = $("#broker_name").val();
        postData.address = $("#broker_address").val();
        postData.hotline = $("#broker_hotline").val();
        postData.isTop = 0;
        postData.addUser = addList.join(",");
        postData.delUser = deleteList.join(",");
        if($("#isTopInput")[0].checked == true) postData.isTop = 1;
        
        $.post("/broker/api_modify_broker_info", postData,
        function(data){
            var jsonObj = eval("("+data+")");
            showUiResult(jsonObj.title,jsonObj.comment);
            
            var nId = parseInt(currentOperatedBrokerId.substr(5));
            var found = false;
            for(var i=0;i<brokerList.length && !found;i++){
                if(brokerList[i]["id"] == nId){
                    brokerList[i]["name"] = $("#broker_name").val();
                    brokerList[i]["address"] = $("#broker_address").val();
                    brokerList[i]["hotline"] = $("#broker_hotline").val();
                    if($("#isTopInput")[0].checked == true) brokerList[i]["top"] = 1;
                    else brokerList[i]["top"] = 0;
                    found = true;
                }
            }
        },"text");
    }

    function addNewBroker(){
        if($("#broker_name").val() == "") {
            showUiResult("请填写完整表单","机构名字不能为空");
            return;
        }
        
        var postData = new Object();
        postData.name = $("#broker_name").val();
        postData.address = $("#broker_address").val();
        postData.hotline = $("#broker_hotline").val();
        postData.isTop = 0;
        if($("#isTopInput")[0].checked == true) postData.isTop = 1;

        $.post("/broker/api_addbroker", postData,
        function(data){
            var jsonObj = eval("("+data+")");
            if(jsonObj.state == 200){
              $('<form class="hide" />')
                 .appendTo('body').attr({'method': 'POST', 'action': '/broker/group'}).submit();
            }else showUiResult(jsonObj.title,jsonObj.comment);
            //reloadGroupList();
        },"text");
    }
    
    function submitAddBoxes(){
        if($("#form-add-start").val() == null || $("#form-add-start").val() == ""){
            showUiResult("信息不完整","起始号不能为空");
            return;
      }
      if(!isPhoneNumber($("#form-add-start").val())){
          showUiResult("信息不正确","起始号必须为手机号码格式");
            return;
      }
      if($("#form-add-end").val() != "" && !isPhoneNumber($("#form-add-end").val())){
            showUiResult("信息不正确","结束号必须为手机号码格式");
            return;
      }
      
      var postData = Object();
      postData.start = $("#form-add-start").val();
      if($("#form-add-end").val() == "") postData.end = $("#form-add-start").val();
      else postData.end = $("#form-add-end").val();
      postData.broker =  boxTargetBrokerId;
      
      var maxCount = 5000;
      var count = 0
      var found = false;
      var tempNum = postData.start;
      for(var i=0;i<=maxCount && !found;i++){
          if(tempNum == postData.end) {
            found = true;
          }
          tempNum ++;
          count ++;
      }
      
      if(count > 5000){
          showUiResult("信息不正确","号码段的号码数大于"+maxCount);
            return;
      }
      
      $.post("/broker/api_add_boxes", postData,
      function(data){
        var jsonObj = eval("("+data+")");
        $("#debug_text").text(data);
        if(jsonObj.state == 200){
            showUiResult("增加成功",jsonObj.count+"个号码已增加");
            buildBoxForms(jsonObj);
        }else showUiResult(jsonObj.title,jsonObj.comment);
      },"text");
    }
    
    function buildBoxForms(jsonObj){
        var htmlStr = "";
        for(var i=0;i<jsonObj.cStartNum.length;i++){
            htmlStr += '<option value="'+i+'" ';
            htmlStr += 'data-num="'+jsonObj.cStartNum[i]+'" ';
            htmlStr += 'data-count="'+jsonObj.cCount[i]+'" ';
            htmlStr += 'id="form-return-start-'+i+'" ';
            htmlStr += '>';
            htmlStr += jsonObj.cStartNum[i]+' ('+jsonObj.cCount[i]+')</option>';
        }
        $("#form-return-start").html(""); 
        $("#form-return-start").chosen("destroy");
        $("#form-return-start").html(htmlStr);
        $("#form-return-start").chosen({no_results_text:"没有号码段",width:"100%"});
        
        htmlStr = "";
        for(var i=0;i<jsonObj.pStartNum.length;i++){
            htmlStr += '<option value="'+i+'" ';
            htmlStr += 'data-num="'+jsonObj.pStartNum[i]+'" ';
            htmlStr += 'data-count="'+jsonObj.pCount[i]+'" ';
            htmlStr += 'id="form-distribute-start-'+i+'" ';
            htmlStr += '>';
            htmlStr += jsonObj.pStartNum[i]+' ('+jsonObj.pCount[i]+')</option>';
        }
        $("#form-distribute-start").html(""); 
        $("#form-distribute-start").chosen("destroy");
        $("#form-distribute-start").html(htmlStr);
        $("#form-distribute-start").chosen({no_results_text:"没有号码段",width:"100%"});
    }
    
    function submitDistributeBox(){
      var postData = Object();
      postData.start = $("#form-distribute-start-"+$("#form-distribute-start").val()).attr("data-num");
      postData.count = $("#form-distribute-count").val();
      postData.isAll = 0;
      if($("#form-distribute-all")[0].checked == true) postData.isAll = 1;
      postData.broker =  boxTargetBrokerId;
      
      if(postData.start == null || postData.start == ""){
        showUiResult("信息不完整","起始号不能为空");
        return;
      }
      
      if(postData.isAll == 0 && (postData.count == null || postData.count == "")){
        showUiResult("信息不完整","数量不能为空");
        return;
      }
      
      if(postData.isAll == 0 && !isInt(postData.count)){
        showUiResult("信息不正确","数量必须为整数");
        return;
      }
      
      $.post("/broker/api_distribute_boxes", postData,
      function(data){
        var jsonObj = eval("("+data+")");
        $("#debug_text").text(data);
        if(jsonObj.state == 200){
            showUiResult("分配成功",jsonObj.count+"个号码已分配");
            buildBoxForms(jsonObj);
        }else showUiResult(jsonObj.title,jsonObj.comment);
      },"text");
    }
    
    function submitReturnBox(){
      var postData = Object();
      postData.start = $("#form-return-start-"+$("#form-return-start").val()).attr("data-num");
      postData.count = $("#form-return-count").val();
      postData.isAll = 0;
      if($("#form-return-all")[0].checked == true) postData.isAll = 1;
      postData.broker =  boxTargetBrokerId;
      
      if(postData.start == null || postData.start == ""){
        showUiResult("信息不完整","起始号不能为空");
        return;
      }
      
      if(postData.isAll == 0 && (postData.count == null || postData.count == "")){
        showUiResult("信息不完整","数量不能为空");
        return;
      }
      
      if(postData.isAll == 0 && !isInt(postData.count)){
        showUiResult("信息不正确","数量必须为整数");
        return;
      }
      
      $.post("/broker/api_return_boxes", postData,
      function(data){
        var jsonObj = eval("("+data+")");
        $("#debug_text").text(data);
        if(jsonObj.state == 200){
            showUiResult("归还成功",jsonObj.count+"个号码已归还");
            buildBoxForms(jsonObj);
        }else showUiResult(jsonObj.title,jsonObj.comment);
      },"text");
    }
    
    function isPhoneNumber(telNum){
      if(/^13\d{9}$/g.test(telNum)||(/^15\d{9}$/g.test(telNum))||(/^18\d{9}$/g.test(telNum))) return true;
      else return false;
    }
    function isInt(values){
      var intR = /^\d+$/;
      if(intR.test(values) == true) return true;
      else return false;
    }
    </script>
    </body>
</html>