<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<title> 系统接入平台-测试页面</title>

		<meta name="description" content="Minimal empty page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="{$webroot}/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="{$webroot}/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="{$webroot}/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="{$webroot}/assets/css/ace-fonts.css" />

		<!-- ace styles -->

		<link rel="stylesheet" href="{$webroot}/assets/css/ace.min.css" />
		<link rel="stylesheet" href="{$webroot}/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="{$webroot}/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="{$webroot}/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="{$webroot}/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="{$webroot}/assets/js/html5shiv.js"></script>
		<script src="{$webroot}/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<include file="./Tpl/header.html" />

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<include file="./Tpl/sidebar.html" />

				<div class="main-content">
				    
				    <div class="breadcrumbs hidden-480" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/">首页</a>
							</li>
							<li class="active"> 测试页面</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>
				    
					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								
                                <div class="error-container">
									<div class="well">
										<h1 class="grey lighter smaller">
											<span class="blue bigger-125">
												<i class="icon-sitemap"></i>
												测试页面
											</span>
										</h1>

										<hr />
										<form class="form-horizontal" role="form" id="test-form">
										    
										    <div class="form-group">
											  <label class="col-sm-2 control-label no-padding-right small-label" for="form-interface">接口</label>
										      <div class="col-sm-9">
											      <input data-rel="tooltip" type="text" id="form-interface" placeholder="/user/api_reg" title="请填写接口" 
												   data-placement="bottom" class="col-xs-10 col-sm-5" />
											   </div>
										     </div>
										     
										     <div class="form-group">
											  <label class="col-sm-2 control-label no-padding-right small-label" for="form-post">POST</label>
										      <div class="col-sm-9">
											      <input data-rel="tooltip" type="text" id="form-post" placeholder="{loginName:'dd'}" 
											      title='请填写POST参数,范例{a:"1",b:"2"}'
											      value="{}" 
												   data-placement="bottom" class="col-xs-10 col-sm-5" />
											   </div>
										     </div>
										    
								        </form>
										<hr />
										<div class="well">
                                                <h4 class="green smaller lighter">Return String</h4>
                                                <p id="debug_text"></p>
                                            </div>
										<div class="space"></div>

										<div class="center">
											<a href="javascript:testSubmit()" class="btn btn-primary">
												<i class="icon-arrow-left"></i>
												提交
											</a>
										</div>
									</div>
								</div>
								
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->
				
			</div><!-- /.main-container-inner -->
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='{$webroot}/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{$webroot}/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{$webroot}/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{$webroot}/assets/js/bootstrap.min.js"></script>
		<script src="{$webroot}/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="{$webroot}/assets/js/ace-elements.min.js"></script>
		<script src="{$webroot}/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
		<script>
		    
      jQuery(document).ready(function(){
        $('[data-rel=tooltip]').tooltip({container:'body'});
		/*
        var body = $(document.body);
	    body.removeClass('skin-1 skin-2 skin-3');
        skin_class = 'skin-1';
	    if(skin_class != 'default') body.addClass(skin_class);
	    if(skin_class == 'skin-1') {
		    $('.ace-nav > li.grey').addClass('dark');
	    }
		*/
      });
      
      var toUN = {
          on: function(str) {
              var a = [],
              i = 0;
              for (; i < str.length;) a[i] = ("00" + str.charCodeAt(i++).toString(16)).slice( - 4);
              return "\\u" + a.join("\\u")
          },
          un: function(str) {
              return unescape(str.replace(/\\/g, "%"))
          }
      };
      
      function testSubmit(){
        var intf = $("#form-interface").val();
        var postd = $("#form-post").val();
        
        var postJson = eval('('+postd+')');
        
        var postData = Object();
        for (var key in postJson){
            postData[key] = postJson[key];
        }
        
        var url = intf;
        $.post(url, postData,
            function(data){
                $("#debug_text").text(toUN.un(data));
            });
      }
		 </script>
	</body>
</html>
